<%- include('../layouts/main-layout') %>
<section>
    <h1>Documentation</h1>
    <p>
        Welcome to the documentation section. Find detailed info on using the
        application.
    </p>
</section>
